{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'scm/authorizepurchase/admin/js/css/estil.css' %}">

    <script src="{% static 'scm/authorizepurchase/admin/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmPurchase"
          data-url="{% url 'authorizepurchase_list' %}">
        <div class="card {{ dshboard.card }}">

            <body onload="miFuncion();" >

            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" id="action" name="action" value="{{ action }}">

                    <div class="row" id="conver">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Fecha de registro:</label>
                                {{ form.date_joined }}
                            </div>
                        </div>
                        <div class="col-lg-2" style="display:none">
                            <div class="form-group">
                                {{ form.reference.as_hiden }}
                            </div>
                        </div>
                         <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Concepto:</label>
                                {{ form.concepto }}
                            </div>
                        </div>
                          <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Sucursal:</label>
                                {{ form.sucursal }}
                            </div>
                        </div>
                        <div class="col-lg-2" style="display:none">
                            <div class="form-group">
                                <label class="control-label">Estado:</label>
                                {{ form.state.as_hiden }}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="control-label">Buscar proveedor:</label>
                                <div class="input-group input-group-search">
                                    {{ form.provider }}
                                    <div class="input-group-append" id="btpr">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false"><i class="fas fa-tasks"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                            <a class="dropdown-item btnAddProvider">
                                                <i class="fas fa-plus"></i> Crear proveedor
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Forma de pago:</label>
                                {{ form.payment_condition }}
                            </div>
                        </div>
                        <div class="col-lg-2" id="dpl" >
                            <div class="form-group">
                                <label class="control-label">Plazo de pago:</label>
                                {{ form.plazo }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Subtotal 1:</label>
                                {{ form.subtotal }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Descuento %:</label>
                                {{ form.dscto }}
                                {{ form.total_dscto.as_hiden }}
                                {{ form.subtotaldos.as_hiden }}
                                <input type="hidden" class="form-control" readonly name="valest" id="valest" value={{form.state.value}}>


                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Iva %:</label>
                                {{ form.iva }}
                                {{form.total_iva.as_hiden}}
                            </div>
                        </div>
                         <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Total:</label>
                                {{ form.total }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group inputCredit" style="display: none;">
                                <label class="control-label">Fecha plazo del credito:</label>
                                {{ form.end_credit }}
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" id="titprofd">
                                <label>Búsqueda de productos:</label>
                                <div class="input-group input-group-search">
                                    <input type="text" class="form-control" autocomplete="off" name="searchproducts"
                                           placeholder="Ingrese el nombre de un producto">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false"><i class="fas fa-tasks"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                            <a class="dropdown-item btnSearchProducts"><i class="fas fa-search"></i>
                                                Buscar productos</a>
                                            <a class="dropdown-item btnClearProducts"><i class="fas fa-times"></i>
                                                Limpiar búsqueda</a>
                                            <a class="dropdown-item btnRemoveAllProducts"><i
                                                    class="fas fa-trash-alt"></i> Borrar todo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table width="100%" class="table table-bordered display nowrap" id="tblProducts">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">Eliminar</th>
                                    <th style="width: 25%;">Producto</th>
                                    <th style="width: 15%;">Categoría</th>
                                    <th style="width: 25%;">Cantidad</th>
                                    <th style="width: 15%;">Precio Unitario</th>
                                    <th style="width: 10%;">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat" id="btnGuardar">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <button type="submit" class="btn btn-primary btn-flat" id="btnAprobar">
                    <i class="far fa-check-circle"></i> Aprobar
                </button>
                 <button type="button" class="btn btn-danger btn-flat" id="btnRechazar">
                    <i class="far fa-times-circle"></i> Rechazar
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat" id="btnCancelar">
                    <i class="fas fa-times"></i> Cancelar
                </a>
                 <a href="{{ list_url }}" class="btn btn-danger btn-flat" id="btnAtras">
                    <i class="fas fa-arrow-left"></i> Atrás
                </a>
            </div>
            </body>
        </div>
    </form>
    <div id="myModalProvider" class="modal fade" role="dialog">
        <form class="form" id="frmProvider" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <b><i class="fa fa-plus"></i> Nuevo registro de un proveedor</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {% for field in frmProvider.visible_fields %}
                                <div class="form-group">
                                    <label>{{ field.label }}:</label>
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block">
                            <i class="fas fa-save"></i> Guardar registro
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div id="myModalSearchProducts" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" >
                <div class="modal-header" >
                    <h5 class="modal-title">
                        <b><i class="fa fa-search"></i> Búsqueda de productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table width="100%" class="table table-bordered table-hover display nowrap table-sm" id="tblSearchProducts">
                            <thead>
                            <tr>
                                <th style="width: 35%;">Nombre</th>
                                <th style="width: 15%;">Categoría</th>
                                <th style="width: 15%;">Precio de Compra</th>
                                <th style="width: 15%;">Precio de Venta</th>
                                <th style="width: 10%;">Stock</th>
                                <th style="width: 10%;">Agregar</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="application/javascript">

function miFuncion() {    // run code

    var valest = $('input[name="valest"]').val();
    console.log('xxxxxt', valest);
    if (valest == "Aprobar") {

        console.log('entra por');
        document.getElementById("id_concepto").readOnly = true; 
        //document.getElementById("date_joined").readOnly = true;

        document.getElementById("id_dscto").readOnly = true; 
        //$("#id_payment_condition").addClass("disabled"); 
        //$("#id_sucursal").addClass("disabled"); 
        //$("#id_plazo").addClass("disabled"); 
        //$("#id_provider").addClass("disabled"); 
        $("#tblProducts").addClass("disabled"); 
        $("#date_joined").addClass("disabled"); 
        //$("#tblProducts").find("input, button").attr("disabled", "disabled");
        //$("#tblProducts").find("button").attr("disabled", "disabled");

        $("#conver").addClass("disabled"); 

        //$('#tblProducts tbody td:not(.readonly)')
        //tblProducts.Columns ["cant"]. ReadOnly = true; 

        $('#btpr').children('div').hide();

        $('#titprofd').children('div').hide();
        $("#btnGuardar").hide();
        $("#btnCancelar").hide();
        $("#btnAprobar").show();
        $("#btnRechazar").show();



    } 

     if (valest == "Aprobado") {

        console.log('entra por');
        document.getElementById("id_concepto").readOnly = true;
        //document.getElementById("date_joined").readOnly = true;

        document.getElementById("id_dscto").disabled = true;
        $("#id_payment_condition").select2({ disabled: 'readonly' });
        $("#id_sucursal").select2({ disabled: 'readonly' });
        $("#id_plazo").select2({ disabled: 'readonly' });
        $("#id_provider").select2({ disabled: 'readonly' });
        $("#tblProducts").addClass("disabled"); 
        $("#date_joined").addClass("disabled"); 
        //$("#tblProducts").find("input, button").attr("disabled", "disabled");
        //$("#tblProducts").find("button").attr("disabled", "disabled");

        //$('#tblProducts tbody td:not(.readonly)')
        //tblProducts.Columns ["cant"]. ReadOnly = true; 

        $('#btpr').children('div').hide();

        $('#titprofd').children('div').hide();
        $("#btnGuardar").hide();
        $("#btnCancelar").hide();
        $("#btnAprobar").hide();
        $("#btnRechazar").hide();
        
        $("#btnAtras").show();

    } 


};
</script>


 <script type="application/javascript">
        purchase.details.iva = parseFloat('{{ iva }}');
        $(function () {
            console.log('iva');
            purchase.list_products();
        });
    </script>
    <script type="application/javascript">
        $(function () {
            console.log('act');
            purchase.list_products();
        });
    </script>
     <script>
        console.log('act');
        purchase.details.products = {{ det|safe}};
        purchase.list_products();
        
    </script>
{% endblock %}